@font-face {
  font-family: 'font1';
  src: url(font1);
}

@font-face {
  font-family: 'font2';
  src: url(font2);
}


@font-face {
  font-family: 'font3';
  src: url(font3);
}


@font-face {
  font-family: 'font4';
  src: url(font4);
}


@font-face {
  font-family: 'font5';
  src: url(font5);
}


@font-face {
  font-family: 'font6';
  src: url(font6);
}




body{
  margin:40px auto;
  max-width:650px;
  line-height:1.6;
  font-size:18px;
  color:#444;
  padding:0 10px
}


h1 {
  font-family: 'font2',"jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  font-style: normal;
  font-size: 60px;
  margin-left: -3px;
  line-height: 1;
  letter-spacing: -0.04em;
  margin-bottom: 2px;
  color: rgba(0,0,0,0.8);
  display: block;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
}

h2 {
  font-family: 'font2',"jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  font-style: normal;
  font-size: 36px;
  margin-left: -1.8px;
  line-height: 1.2;
  font-weight:700;
  letter-spacing: -0.02em;
  margin-bottom: 4px;
  color: rgba(0,0,0,0.8);
  display: block;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
}


h3 {
  font-family: 'font5',"jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.05em;
    font-weight: 300;
    font-style: normal;
    font-size: 32px;
    margin-left: -1.6px;
    line-height: 1.2;
    color: rgba(0,0,0,0.44);
    margin-bottom: 2px;
    display: block;
-webkit-margin-before: 1.33em;
-webkit-margin-after: 1.33em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
word-wrap: break-word;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;

}
